// Tri colors
$orange : hsl(6, 72%, 49%);
$hovered-orange: hsl(6, 72%, 49%);
$dim : #141d25;
$dark-gray: #6d6d6d;
$dark : #121B22;
$text-color: white;
$primary-font: Arial, Helvetica, sans-serif;
$secondary-font: 'Times New Roman', Times, serif;

